# IRON: iron_headers
#
# Distribution A
#
# Approved for Public Release, Distribution Unlimited
#
# EdgeCT (IRON) Software Contract No.: HR0011-15-C-0097
# DCOMP (GNAT)  Software Contract No.: HR0011-17-C-0050
# Copyright (c) 2015-20 Raytheon BBN Technologies Corp.
#
# This material is based upon work supported by the Defense Advanced
# Research Projects Agency under Contracts No. HR0011-15-C-0097 and
# HR0011-17-C-0050. Any opinions, findings and conclusions or
# recommendations expressed in this material are those of the author(s)
# and do not necessarily reflect the views of the Defense Advanced
# Research Project Agency.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# IRON: end

# This file contains configuration parameters that must be shared across the
# BPF, UDP proxy, and TCP proxy.

#
# Value of the queue normalizer, k, used by all utility functions. Increasing
# this results in more accurate prioritization, especially with higher
# bandwidths. Decreasing this results in lower queue delay (particularly
# if ZombieLatencyReduction is disabled in the BPF) and faster reaction times.

#
# Default value is 1e12. This is sufficiently high for 10 Mbps links. KVal
# should be increased for networks with higher capacity links.
#
#KVal 1e12

#
# Flag for whether to track time-to-go in every packet.
#
# If Bpf.Alg.Fwder is LatencyAware (the default), then this MUST be true or
# else the system will abort during start-up due to misconfiguration.
#
# Default value is true.
#
#TtgTracking true

#
# Flag for turning on LinkState for latency (time-to-reach) estimation.
#
# If Bpf.Alg.Fwder is LatencyAware (the default), then this MUST be true or
# else the system will abort during start-up due to misconfiguration.
#
# Default value is true.
#
#LinkStateLatency true

#
# Flag to enable IRON metadata (unique per packet) for tracking packets.
#
# If true, the system will add IRON metadata headers to packets containing
# unique identifiers that can be used to trace the packets through the system.
# Note: metadata headers will be included whenever TtgTracking is true and the
# individual packet is configured to do ttg tracking, regardless of this
# setting. However, if PacketTrace is false, then metadata headers will not be
# included on packets that aren't used for ttg tracking.
#
# Default value is true.
#
#PacketTrace true
